button {
    position: absolute;
    right: 10px;
    padding: 10px;
    font-size: 18px;
    margin-top: 2px;
    border: none;
    color: white;
    background-color: #DDEFEF;
    color: #336B6B;
}

button a {
    color: #336B6B;
} 

button a:visited {
    color: #336B6B;
}

a {
    text-decoration: none;
}